/* Estilos para toda la pagina*/

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Pippons',sans-serif;
}

body{
    background-color: rgb(65, 64, 64);
    margin: 0;
}

/* Estilos para el contenedor en donde se encuentra el contenedor*/
.container{
    width: 90%;
    margin: 0 auto;
}

/* Estilos para toda la cabecera*/
.cabecera{
    background-color: black;
    font-family: 'Pippons',sans-serif;
    width: 100%;
    z-index: 10000px;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

p{
    float: left;
    color: white;
    margin-left: 0;
   
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    float: left;
    margin-left: 20px;
    padding-top: 20px;

    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

nav a:hover{
    color: #9c9c9c;
}

nav a::before{
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: red;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.nav1::before{
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: red;
}

.fotohome{
    max-width: 100%;
    height: auto;
    width: auto;
}

/*Estilos para las imagenes del inicio (parallax)*/
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, black, transparent) ;
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#titulo{
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
    color: white;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

/*Estilos para todo el contenido y fotos de los divs*/
.contenido1{
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    background: black;
    position: relative;
    z-index: 1001;
}

.contenido1 h2{
    font-family: 'Pippons',sans-serif;
    font-size: 3.5em;
    margin-bottom: 10px;
    height: 100%;
    color: white;
}

.contenido1 p{
    font-family: 'Pippons',sans-serif;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    margin-right: 150px;
}

.contenido1 img{
    padding-top: 30px;
    display: block;
    height: 50%;
    width: 50%;
    margin: auto;
}

.contenido2{
    background-color: red;
    height: 400px;
}

.contenido2 h2{
    width: auto;
    height: 25%;
    background-color: red;
    color: white;
    font-family: 'Pippons',sans-serif;
    font-size: 3.5em;
    margin: 0;
    padding-bottom: 6%;
    padding-top: 2%;
    margin-left: 100px;
}

.contenido2-1 p{
    font-size: 20px;
    padding-bottom: 5%;
}

.contenido2-1 h3{
    font-family: 'Pippons',sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: red;
    height: 20%;
    margin: 0;
}

.contenido2-1{
    width: 75%;
    background-color: red;
    display: block;
  
    padding-top: 1%;
    padding-left: 100px ;
    float: left;
}

.contenido2-2{
    width: 25%;
    float: left;
    padding-top: 1% ;
    background-color: red;
    height: 273px;
}

.contenido2-2 img{
    display: block;
    width: 250px;
    height: auto;
    margin-bottom: 70%;
    margin-left: 60px;
}


.contenido3{
    background-color: red;
    width: 100%;
    display: block;
    float: left;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenido3 h3{
    font-family: 'Pippons',sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: red;
    margin: 0;
}

.contenido3-1 p{
    font-size: 20px;
}

.contenido3-1{
    width: 73%;
    height: 150px;
    float: left;
}

.contenido3-2{
    width: 25%;
    height: auto;
    float: left;
}

.contenido3-2 img{
    width: 300px;
    height: auto;
    margin-left: 50px;
}

.contenido4{
    background: red;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    display: block;
    float: left;
}

.contenido4 h3{
    font-family: 'Pippons',sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    height: 100%;
    text-align: left;
    margin-left: 100px;
}

.contenido4 p{
    font-family: 'Pippons',sans-serif;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    display: block;
    width: 70%;
    float: left;
    margin-left: 100px ;
}

.contenido4 img{
    width: 350px;
    height: auto;
}

.contenido4-2 img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.juego1{
    width: 100%;
    background-image: url(../Imagenes/wallpapersden.com_warrior-girl-in-cyberpunk-city_3840x2160.jpg);
    background-size: 100% auto;
}

.juego2{
    width: 100%;
    background-image: url(../Imagenes/wallpapersden.com_woman-in-cyberpunk-city_2560x1440.jpg);
    background-size: 100% auto;
}

.juego3{
    width: 100%;
    background-image: url(../Imagenes/cyberpunk-city-buildings-art.jpg);
    background-size: 100% 900px;
}

.juego1 iframe, .juego2 iframe , .juego3 iframe{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Estilos para todo el footer*/
.piedepagina{
    width: 100%;
    background-color: white;
}

.piedepagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 45px 0px;
}

.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img{
    width: 90px;
    margin-right: 70%;
}

.box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}

.box .proyectos{
    color: black;
    margin-bottom: 10px;
    margin-left: 40%;
    text-decoration: none;
}

.box .proyectos:hover{
    color: aqua;
    transition: 0.3s;
}

.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    color: black;
    margin-left: 12%;
}

.red-social a:hover{
    color: aqua;
    transition: 0.3s;
}

